.col {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.preloader-wrapper {
	margin: 50px;
}

.book-btn {
	margin: 0.5rem;
}

nav {
	padding-left: 1rem;
	padding-right: 1rem;
}

.pagination .btn {
	margin-right: 0.5rem;
}

.container-fixed {
	width: 95%;
	margin: auto;
}

.inputs-group {
	margin-top: 2rem;
}

.input-field.inline input {
	margin: 0 1rem;
}

.inputs-group p {
	margin-right: 1rem;
}
